.arithmeticBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.arithemticUnit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: yellow;
}

.arithemeticUnitWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.arithmeticUnitLabel {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding-top: 3px;
  border-top: 1px solid yellow;
  width: 100%;
}