.stackWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin-bottom: 10px;
}

.bucketWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.bucket {
  display: flex;
  text-align: center;
  border-top: none;
  padding-top: 10px;
  overflow-y: scroll;
}

.stackButton {
  height: 12%;
  background-color: green;
  color: black;
  font-size: large;
  cursor: pointer;
  border: none;
  margin: 2% 0;
}

.stackButton:hover {
  background-color: yellow;
}

.stackButton:focus {
  outline: none;
}

.stackItem {
  padding: 3px;
  margin: 1px 0;
}

.stackBottom {
  border: 1px solid green;
}
