.simulatorContainer {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #171514;
  color: green;
}

.arithmeticAndModeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.arithmeticWrapper {
  width: 100%;
  height: 60%;
}

.modeWrapper {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}