.simulatorContainer {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #171514;
  color: green;
  overflow: hidden;
}

.arithmeticBox {
  display: flex;
  justify-content: space-around;
}

.operand {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: yellow;
}
