.simulatorContainer {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #171514;
  color: green;
  overflow: hidden;
}

.arithmeticBox {
  display: flex;
  justify-content: space-around;
}

.arithemticUnit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: yellow;
}

.arithemeticUnitWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.arithmeticUnitLabel {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding-top: 3px;
  border-top: 1px solid yellow;
  width: 100%;
}
